{% extends 'BrainstrapBundlesFrontBundle::layout.html.twig' %}

{% block content_wrapper %}
    <div class="md-body-wrapper">
        <section class="container">
            {% block content %}{% endblock content %}
        </section>
    </div>
{% endblock content_wrapper %}

