{% extends 'BrainstrapBundlesFrontBundle::layout_content_modify.html.twig' %}
{% set active_item_menu = "object_addition" %}
{% set template_letter = "Д" %}
{% set template_caption= "Редактирование" %}
{% set template_descr= "дополнения" %}
{% set content_right_caption = entity.caption %}
{% set prefix_route = "object_objectaddition" %}
{% set slider_enabled = false %}
{% set detail_type = "edit" %}



{% block preview_content %}
    <div class="form-group">
        <label class="label-control">
            Заголовок<span class="start">*</span>
        </label>
        {{ form_widget(edit_form.caption, { 'attr': {'class': 'input-control validate-caption', 'placeholder': 'Заголовок'} }) }}
        <div class="inputErrors bs-alert bs-alert-error">
            {{ form_errors(edit_form.caption) }}
        </div>
    </div>
{% endblock preview_content %}

